<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Cutive' rel='stylesheet'>
  <title>Welcome || Atria University</title>
</head>
<style>
  html {
  background: url('static/background.png') no-repeat;
  font-family: 'Cutive';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.topright {
position: absolute;
height: 350px;
width: 450px;

}
.canvas{
 float: right;

 margin-right: 20px;


}
h1{
  font-size: 33px;
}
</style>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<body>
  <img src="static/welcometext.png" style="position: relative; height: 50%; width: 50%; margin-left:20px; visibility: hidden;"/>

  <div class="canvas" id="canvas">
    <img src="{{ url_for('video_feed') }}" height="500px" width="600px" style="position: absolute; top:0;right:0;" />

  </div>

  <div style="background-color:#000; margin-top: 230px; padding-left: 26px; position: absolute; bottom: 0; left: 0; height: 200px;" id="divbg">
    <div style="color:rgb(115, 255, 84); padding: 1px;" id="welcomemessage">


    </div>
  </div>

</body>
</html>
<script>
   window.setInterval('refresh()', 100);
    function refresh() {
      let url = 'https://welcometoatriauniversity-default-rtdb.firebaseio.com/index/welcome.json';
      fetch(url)
        .then(res => res.json())
        .then((out) => {
          if (out == '1') {

            document.getElementById("welcomemessage").innerHTML = "<h1>Command Accepted - AU Campus is now OPEN</h1>";

          }
          else {
            document.getElementById("welcomemessage").innerHTML = "<h1>Give a Thumbs Up to declare AU Campus OPEN</h1><h2 style='color:red'>Waiting for your command... </h2>";

          }
        })
        .catch(err => { throw err });
    }


</script>